.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  gap: 10px;
}

.pagination button {
  padding: 8px 14px;
  border-radius: 6px;
  background: #6a5acd;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-weight: 500;
  color: #444;
}
